node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
app.json
.env
Note-to-self.txt
Datastructure.json

#Notes
# Expo run android build:
# eas build --platform android --profile development


# macOS
.DS_Store
